<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.dao.ScoreMapperDao">  
    
    <resultMap type="ScoreEntity" id="scoreResultMap">
<!--         <id property="studentId" column="student_id"></id> -->
		<result property="math" column="math"></result>
        <result property="english" column="english"/>
        <result property="chinese" column="chinese"></result>
<!--         <association property="student" column="student_id"  resultMap="studentResultMap"/> -->
    </resultMap>
    
    <select id="getScore" parameterType="Integer" resultType="ScoreEntity" resultMap="scoreResultMap">
        select * from score where student_id = #{studentId}
    </select>
      
</mapper> 